/* Css stylesheet for the web application */

/* html and body styles */
html, body {
    background-color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

/* header section */

header .navigation-bar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 2rem;
}

.navigation-bar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #3182CE;
  font-weight: 500;
}

.Themetoggle {
    cursor: pointer;
    border: 1px transparent;
    font-size: 1rem;
    padding: 1rem 1rem;
}

.Themetoggle:hover {
    border-radius: 5px;
}

/* about section */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2rem 0;
    margin-top: 1rem;
}

#about img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-right: 4%;
}
#about .about-content {
    max-width: 1000px;
    text-align: center;
}

p {
    font-size: 1rem;
    color: #1A202C;
    line-height: 1.5;
}

/* education section */
h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}