html, body {
    background-color: #F9FAFB;
    text-decoration-color: #111827;
}

/* header section */
.welcome-to-page {
    text-align: center;
    text-decoration: dotted;
}
header h1 {
    font-size: xx-large;
    color: #1E40AF;
    font-family: 'Inter', sans-serif;
}
header p {
    font-size: large;
    color: #60A5FA;
    font-family: 'Inter', sans-serif;
}
/* main section */